# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [7]:
df = pd.read_csv(url, '\t')
df

C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = df

In [103]:
chipo.columns

Index([          'order_id',           'quantity',          'item_name',
       'choice_description',         'item_price',        'price_float',
                       2.39,                 3.39,                 8.49,
                      10.98,                 1.69,                11.75,
                       9.25,                 4.45,                 8.75,
                      11.25,                 1.09,                 8.99,
                       2.95,                 2.15,                 3.99,
                      11.48,                 1.25,                11.89,
                       6.49,                11.08,                  1.5,
         10.979999999999999,   7.3999999999999995,                10.58,
                        7.4,                 9.39,                  3.0,
                        4.0,                 8.69,                 2.29,
                       3.89,                 8.19,   1.6900000000000002,
                        8.5,                 4.25,                 1.99,
                      11.49,     'price_per_item'],
      dtype='object')

### Step 4. How many products cost more than $10.00?

In [41]:
chipo['price_float'] = pd.to_numeric(chipo.item_price.str.slice(1))

In [19]:
(chipo['price_float'] > 10).sum()

1130

In [44]:
chipo['price_per_item'] = chipo.price_float / chipo.quantity

In [45]:
product_prices = chipo.groupby('item_name').agg({'price_per_item': 'max'})

In [46]:
price_per_item.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: None
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 36.2 KB

In [47]:
(product_prices.price_per_item > 10).sum()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [48]:
product_prices

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 6. Sort by the name of the item

In [49]:
product_prices.sort_index()

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
chipo.price_float.idxmax()

3598

In [52]:
chipo.loc[3598, :]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
price_float                                  44.25
2.39                                          2.39
3.39                                          3.39
8.49                                          8.49
10.98                                        10.98
1.69                                          1.69
11.75                                        11.75
9.25                                          9.25
4.45                                          4.45
8.75                                          8.75
11.25                                        11.25
1.09                                          1.09
8.99                                          8.99
2.95                                          2.95
2.15                                          2.15
3.99                                          3.99
11.48                                        11.48
1.25                                          1.25
11.89                                        11.89
6.49                                          6.49
11.08                                        11.08
1.5                                            1.5
10.979999999999999                           10.98
7.3999999999999995                             7.4
10.58                                        10.58
7.4                                            7.4
9.39                                          9.39
3.0                                            3.0
4.0                                            4.0
8.69                                          8.69
2.29                                          2.29
3.89                                          3.89
8.19                                          8.19
1.6900000000000002                            1.69
8.5                                            8.5
4.25                                          4.25
1.99                                          1.99
11.49                                        11.49
price_per_item                                2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [54]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [55]:
(chipo[chipo.item_name == 'Canned Soda'].quantity > 1).sum()

20

### Step 10. What is the order id of order with the highest total price of all items ordered in that order?

In [84]:
chipo['price_per_item'].idxmax()

281

In [101]:
chipo['price_per_item']==chipo['price_per_item'].idxmax()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: price_per_item, Length: 4622, dtype: bool

### Step 11. In How many orders, atleast one items is ordered multiple times?

### Step 12. Create a billing report (dataframe) which has columns as 'Order_Id', 'Total_Bill', 'Total Bill After Discount'. Restaurant owner has decided to give discount of 5% on orders of above $50 total cost.

In [ ]:
chipo['order_id']['']